*{
	box-sizing:border-box;
}
.square{
	background-color: purple;
	width:30%;
	margin:1.66%;
	padding-bottom:30%;
	float:left;
	border-radius: 20%;

}
#msg{
	display:inline-block;
	width:20%;
	height:100%;
	
	
}
#container
{
	float:left;
	max-width:600px;
	margin: 0 auto;
}
body{
	background-color:#232323;
	margin:0;
	font-family:"Montserrat";

}
#splice{
	background-color:white;
	text-align: center;
	height:30px;


}
button{
	
	border:none;
	background:none;
	text-transform:uppercase;
	height:100%;
	font-weight:700;
	color:blue;
	letter-spacing:1px;
	font-size:inherit;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	outline:none;



}
h1{
	color:white;
	text-align:center;
	background:steelblue;
	margin:0;
	text-transform:uppercase;
	font-weight:normal;
	line-height:1.1;
	padding:20px 0;
}
.selected{
	background-color: steelblue;
}
#colordisplay{
	font-size:200%;

}
#reset:hover{
	background-color: steelblue;
	color:white;
}

#easy:hover{
	background-color: steelblue;
	color:white;
}
#hard:hover{
	background-color: steelblue;
	color:white;
}